body {
  background-color: black;
  color: gold;
}

#story-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  border: 1px solid grey;
  width: 55%;
  margin: auto;
}

/* ------------------------------------------ Go with quinn section -------------------------------------- */

#jkr-flex {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

#jkr-confused {
  float: left;
  margin-left: 10em;
  border: 1px solid gold;
}

#jkr-p {
  width: 30%;
}

#happy-jkr,
.img-edit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

/* -------------------------------- Universal ----------------------------------------- */

.flex-sections {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  margin-top: 1em;
}

.small-p {
  border: 1px solid grey;
  width: 20%;
}

#story-box {
  margin-bottom: 3em;
}

footer {
  font-family: cursive;
  font-size: larger;
  color: red;
  text-align: center;
}
